/* src/index.css */

body {
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgba(125, 111, 81, 0.63);
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: #515f7d;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  padding: 5px;
}

nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.Navbar {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}

.NavbarLeft {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  width: 80%;
  height: auto;
  font-size: 18pt;
}

.NavbarRight {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  width: 100%;
  height: auto;
}

.Navbar a {
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.ProjectCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.SignupPage,
.LoginPage {
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditProjectPage {
  background-color: rgb(239, 196, 88);
}

.CreateClub,
.SignupPage,
.LoginPage {
  background-color: #517D6F;
}

.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTask button,
.AddProject button {
  display: block;
}

.TaskCard {
  background-color: #dfeef9;
}

.HomePage {
  background-image: url("/public/images/playingCardsBackground.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: 0% 0%;
  overflow: hidden;
  opacity: 0.6;
}

.HomePage::before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(125, 111, 81, 0.63);
}

.HomePageContent {
  position: relative;
  width: auto;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  margin-top: 12%;
  margin-left: 5%;
}

.UserClubs {
  margin-bottom: 7px;
  margin-left: 5px;
  font-size: 14pt;
}

.LandingCard {
  position: relative;
  height: fit-content;
  width: 350px;
  color: white;
  font-weight: 900;
  background-color: rgba(125, 111, 81, 0.45);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.AboutSpan {
  margin-top: 10px;
  margin-left: 300px;
}

.LandingCard h5 {
  text-align: left;
  font-weight: 100;
}

.GeneralButton {
  width: 90px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.GeneralButton:hover {
  background-color: #5f7d51;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.CreateClub {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.EditClubDetailsPage form,
.CreateEventPage form,
.CreateClub form,
.CreateMemberPage form,
.AccountPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EditClubDetailsPage .GeneralButton,
.CreateEventPage .GeneralButton,
.CreateMemberPage .GeneralButton,
.AccountPage .GeneralButton {
  width: 120px;
  height: 50px;
}

.EditClubDetailsPage input,
.CreateEventPage input {
  margin-top: 15px;
}

.deleteItemButton {
  background-color: rgba(125, 111, 81, 0.01);
  color: red;
  font-weight: 700;
  border-color: #7d6f51;
  font-size: 10pt;
  padding: 1px;
  width: fit-content;
  padding: 0px 0px;
  min-width: 10px;
  margin-top: 0px;
  cursor: default; 
  text-decoration: none;
  border: none;
  cursor:pointer;
}

.ClubDetailsPage {
  display: flex;
  align-content: center;
}

.ClubDetailsPage div {
  width: 500px;
  margin-left: 25px;;
}

.ClubDetailsCard ul {
  list-style: none;
}

.ClubMembersCard {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.ClubRows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ClubMembersCard .ClubRows {
  justify-content: center;
}

.ClubRows p {
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 2px;
}

.ClubDetails {
  padding: 10px 15px 30px 10px;
  background-color: rgba(81, 125, 111, 0.1);
}

.ClubMembers {
  padding: 10px 30px 100px 0px;
  background-color: rgba(81, 125, 111, 0.1);
}

.ClubRecord {
  margin-top: 30px;
  padding: 10px 15px 50px 10px;
  background-color: rgba(81, 125, 111, 0.1);
}